*{
    font-family: Arial, Helvetica, sans-serif;
}

.title{
    text-align: center;
}
.sliders{
    width: 300px;
}

.slider{
    width: 80%;
}

.results-container {
    width: 500px;
    height: 500px;
    max-height: 200px; 
    overflow-y: auto; 
    border: 2px solid #ccc; 
    border-radius: 50px;
    background: #ffffff;
    box-shadow: inset 16px 16px 32px #e8e8e8,
    inset -16px -16px 32px #ffffff;
}
.application{
    margin: auto;
    align-items: center;
    justify-content: space-between;
    padding: 40px 100px 40px 100px;
    width: 50%;
    display: flex;
    flex-direction: row;
    border-radius: 50px;
    background: #ffffff;
    box-shadow:  20px 20px 60px #d9d9d9,
        -20px -20px 60px #ffffff;  
    border: 2px solid #ccc; 
}
.checkbox-wrapper{
    align-items: center;
    display: flex;
    justify-content: space-between;
}
/*mic*/
.switch {
    position: relative;
    width: 48px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(60,64,67);
    color: #fff;
    border-radius: 50%;
    cursor: pointer;
    transition: all .3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.mic-on, .mic-off {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .3s ease-in-out;
}

.mic-on {
    z-index: 4;
}

.mic-off {
    position: absolute;
    inset: 0;
    z-index: 5;
    opacity: 0;
}

.switch:hover {
    background-color: rgba(60,64,67, 0.8);
}

#test-microphone-checkbox {
    display: none;
}

#test-microphone-checkbox:checked + .switch {
    background: linear-gradient(90deg, #ff4d4d, #ff9999);

}

#test-microphone-checkbox:checked + .switch .mic-off {
    opacity: 1;
}

#test-microphone-checkbox:active + .switch {
    scale: 1.2;
}
/* start */
.checkbox-wrapper .start-stop {
    --size: 40px;
    position: relative;background: 
    linear-gradient(90deg, #32a852, #a3f09d);

    line-height: 0;
    perspective: 400px;
    font-size: var(--size);
}

.checkbox-wrapper .start-stop input[type="checkbox"],
    .checkbox-wrapper .start-stop label,
    .checkbox-wrapper .start-stop label::before,
    .checkbox-wrapper .start-stop label::after,
    .checkbox-wrapper .start-stop {
    appearance: none;
    display: inline-block;
    border-radius: var(--size);
    border: 0;
    transition: .35s ease-in-out;
    box-sizing: border-box;
    cursor: pointer;
}

.checkbox-wrapper .start-stop label {
    width: calc(2.2 * var(--size));
    height: var(--size);
    background: #d7d7d7;
    overflow: hidden;
}

.checkbox-wrapper .start-stop input[type="checkbox"] {
    position: absolute;
    z-index: 1;
    width: calc(.8 * var(--size));
    height: calc(.8 * var(--size));
    top: calc(.1 * var(--size));
    left: calc(.1 * var(--size));
    background: linear-gradient(45deg, #dedede, #ffffff);
    box-shadow: 0 6px 7px rgba(0,0,0,0.3);
    outline: none;
    margin: 0;
}

.checkbox-wrapper .start-stop input[type="checkbox"]:checked {
    left: calc(1.3 * var(--size));
}

.checkbox-wrapper .start-stop input[type="checkbox"]:checked + label {
    background: transparent;
}

.checkbox-wrapper .start-stop label::before,
    .checkbox-wrapper .start-stop label::after {
    content: "· ·";
    position: absolute;
    overflow: hidden;
    left: calc(.15 * var(--size));
    top: calc(.5 * var(--size));
    height: var(--size);
    letter-spacing: calc(-0.04 * var(--size));
    color: #9b9b9b;
    font-family: "Times New Roman", serif;
    z-index: 2;
    font-size: calc(.6 * var(--size));
    border-radius: 0;
    transform-origin: 0 0 calc(-0.5 * var(--size));
    backface-visibility: hidden;
}

.checkbox-wrapper .start-stop label::after {
    content: "●";
    top: calc(.65 * var(--size));
    left: calc(.2 * var(--size));
    height: calc(.1 * var(--size));
    width: calc(.35 * var(--size));
    font-size: calc(.2 * var(--size));
    transform-origin: 0 0 calc(-0.4 * var(--size));
}

.checkbox-wrapper .start-stop input[type="checkbox"]:checked + label::before,
    .checkbox-wrapper .start-stop input[type="checkbox"]:checked + label::after {
    left: calc(1.55 * var(--size));
    top: calc(.4 * var(--size));
    line-height: calc(.1 * var(--size));
    transform: rotateY(360deg);
}

.checkbox-wrapper .start-stop input[type="checkbox"]:checked + label::after {
    height: calc(.16 * var(--size));
    top: calc(.55 * var(--size));
    left: calc(1.6 * var(--size));
    font-size: calc(.6 * var(--size));
    line-height: 0;
}

#waveformCanvas {
    width: 100%;
    margin: auto;
    border-radius: 50px;
    background: #ffffff;
    box-shadow: inset 16px 16px 32px #e8e8e8,
    inset -16px -16px 32px #ffffff;
    border: 2px solid #ccc; 
}

#buffer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.5); /* Semi-transparent white */
    z-index: 9999; /* Make sure it's on top of other elements */
}

#loading-dialog {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    z-index: 10000; /* Make sure it's on top of other elements */
}